@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800;
}

.bubble {
  position: relative;
  background: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 120px;
  text-align: center;
  width: 250px;
  height: 120px;
  border-radius: 10px;
  padding: 0px;
}
.bubble:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: transparent #000000;
  border-width: 19px 47px 19px 0;
  top: 56%;
  left: -47px;
  margin-top: -19px;
}
